
.para {
  color: hotpink;
  background-color: blue;
  outline: 2px; outline-color: black; outline-style:dashed;
  font-size: 40px;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif
}

div.text {
  color: green;
  font-size: 20px;
  background-color: aquamarine;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
